@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.day, .period {
    margin-bottom: 32px;
}
.date {
    font-weight: 800;
    font-size: 24px;
}
.timeframe, .room, .students label {
    font-weight: 600;
    font-size: 17px;
}
.room {
    color: #206f89;
}
.student {
    display: inline-block;
}
.student:not(:last-of-type):after {
    content: ',';
}
